Version: 3.0
SCRIPTS

C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\square16x16.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\201029_2DLat.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\201123-Startup.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.07599999755621 0.07599999755621 0.1199999973178 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
75 375 1
100 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
650 760
650 760
630 800
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
50
tweezer_pow Constant 1
1
-2.52
0
5
1
0
filter_pow Constant 1
1
-0.05
0
10
1
0
rmbx Constant 1
1
0.007
0.015
15
1
0
rmby Constant 1
1
0.018
0.028
15
1
0
rmbz Constant 1
1
0.0252
0.028
15
1
0
tune461 Constant 1
1
-0.2
-0.25
1
1
0
spec3p1 Constant 1
1
79.87
80.13
50
1
0
bx_scan Constant 1
1
0.2
0.3
1
1
0
bluetuneval Constant 1
1
0.28
0.55
15
1
0
imagpow Constant 1
1
0.175
0.22
10
1
0
bluetune_imag Constant 1
1
0.025
0.05
5
1
0
galvo_set Constant 1
1
-0.5
-3.5
1
1
0
lattice_pow Constant 1
1
-4.3
-0.2
5
1
0
axial_phase_set Constant 1
1
-0.05
0
50
1
0
ax_lattice_pow Constant 1
1
-2.9
0
1
1
0
xoff Constant 1
1
0
0.03
1
1
0
yoff Constant 1
1
-12
4
30
1
0
c_3p1 Constant 1
1
80
80.05
20
1
0
f_rad Constant 1
1
0.09
0.2
20
1
0
f_rad2 Constant 1
1
0.104
0.115
3
1
0
f_rmot_narrow Constant 1
1
0.75
1
20
1
0
lattice_zero Constant 1
1
-0.03
0
1
1
0
ax_lattice_zero Constant 1
1
0.16
0
1
1
0
tweezer_zero Constant 1
1
0.0165
0
1
1
0
f_ax_lat Constant 1
1
0.095
0.11
6
1
0
modfreq Constant 1
1
0.05
0.11
7
1
0
fscan Constant 1
1
0.05
0.2
1
1
0
radpow Constant 1
1
11
25
15
1
0
rad2pow Constant 1
1
12
25
10
1
0
fcool Constant 1
1
0.124
0.25
30
1
0
axpow Constant 1
1
7.5
15
10
1
0
faxcool Constant 1
1
0.1
0.15
1
1
0
uvtime Constant 1
1
0.0003
0.0004
15
1
0
mirrorscan Constant 1
1
1.05
1.4
1
1
0
f_3d Constant 1
1
0.15
0.2
15
1
0
scan Constant 1
1
0.001
2
25
1
0
uvaopow Constant 1
1
50
100
30
1
0
moogfreq0 Constant 1
1
64
50
50
1
0
moogfreq1 Constant 1
1
63.9
49.9
50
1
0
swapmottime Constant 1
1
45
100
40
1
0
onlynegative Constant 1
1
-3.8
-5
25
1
0
holdtime Constant 1
1
1
10
2
1
0
imagpowscan Constant 1
1
0.1
0.15
10
1
0
c_3p0 Constant 1
1
3.34573994
0
20
1
0
spec3p0 Constant 1
1
0.06
6
20
1
0
pow698 Constant 1
1
-2
0
1
1
0
probetime Variable 1
1
0.001
10
100
1
0
f_813rad Constant 1
1
0.09
0.2
30
1
0
faxcool_813 Constant 1
1
0.03
0.15
25
1
0
ramseytime Constant 1
1
1.75
3
25
1
0
END_VARIABLES
TTLS
0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 
1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 1 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 1.54 0.175 -0.2 -0.5 0.16 0 -2.52 0.28 0.01 -0.05 0 2.2 1.27 -4.3 1.5 0 0 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
3
END_REPETITIONS
