Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\200914-RydSpect.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\200914-RydSpect.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\200914-RydSpect.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\after_COVID\200914-RydSpect.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.07599999755621 0.07599999755621 0.1199999973178 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
75 375 1
100 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
650 760
650 760
630 800
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
40
tweezer_pow Constant 1
1
-0.06
0
6
1
1
filter_pow Constant 1
1
-0.04
0.02
20
1
1
rmbx Constant 1
1
0.012
0.018
20
1
1
rmby Constant 1
1
0.0145
0.025
20
1
1
rmbz Constant 1
1
0.013
0.015
15
1
1
tune461 Constant 1
1
-0.2
-0.25
1
1
1
spec3p1 Constant 1
1
79.8
80.2
50
1
1
bx_scan Constant 1
1
0.2
0.3
1
1
1
bluetuneval Constant 1
1
0.32
0.45
10
1
1
imagpow Constant 1
1
0.21
0.225
15
1
1
bluetune_imag Constant 1
1
0.025
0.05
5
1
1
galvo_set Constant 1
1
-0.5
-3.5
1
1
1
lattice_pow Constant 1
1
-0.5
-0.2
5
1
1
axial_phase_set Constant 1
1
-0.05
0
50
1
1
ax_lattice_pow Constant 1
1
-2.9
0
1
1
1
xoff Constant 1
1
0
0.03
1
1
1
yoff Constant 1
1
3.2
4
30
1
1
c_3p1 Constant 1
1
80.015548
80.05
20
1
1
f_rad Constant 1
1
0.12
0.2
20
1
1
f_rad2 Constant 1
1
0.104
0.115
3
1
1
f_rmot_narrow Constant 1
1
0.75
0.85
30
1
1
lattice_zero Constant 1
1
-0.008
0
1
1
1
ax_lattice_zero Constant 1
1
0.016
0
1
1
1
tweezer_zero Constant 1
1
0.01
0
1
1
1
f_ax_lat Constant 1
1
0.095
0.11
6
1
1
modfreq Constant 1
1
0.05
0.11
7
1
1
fscan Constant 1
1
0.05
0.2
1
1
1
radpow Constant 1
1
11
25
15
1
1
rad2pow Constant 1
1
12
25
10
1
1
fcool Constant 1
1
0.175
0.3
15
1
1
axpow Constant 1
1
7.5
15
10
1
1
faxcool Constant 1
1
0.075
0.25
10
1
1
uvtime Constant 1
1
0.1
0.005
5
1
1
mirrorscan Constant 1
1
1.05
1.4
1
1
1
f_3d Constant 1
1
0.12
0.2
15
1
1
scan Constant 1
1
0.01
30
10
1
1
uvaopow Constant 1
1
50
100
1
1
1
moogfreq0 Variable 1
1
70.1
57.1
40
1
1
moogfreq1 Variable 1
1
70
57
40
1
1
swapmottime Constant 1
1
35
60
15
1
1
END_VARIABLES
TTLS
0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 
1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 1 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 2.8 0.21 -0.2 -0.5 0.016 0 0 0.32 0.02 -0.05 0 2.2 1.27 -0.008 1.5 0 0 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
8
END_REPETITIONS
