Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\190910_dual_color_axial.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\gigamoog_test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\tweezer_fluorescence_test.mScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Exposure
0
0
Kinetic Series Mode
0
0
0
-25
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
980 1040 1
1000 1060 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
92 408
95 408
0 150
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
9
xbias Constant 1
1
0.08
0.105
15
1
1
ybias Constant 1
1
0.025
0.05
15
1
1
zbias Constant 1
1
-0.4
-0.25
15
1
1
mot Constant 1
1
0.4
1.5
15
1
1
loadtime Constant 1
1
50
100
15
1
1
time Constant 1
1
5000
20000
5
1
1
power Constant 1
1
0.01
0.1
1
1
1
freq Constant 1
1
81
83.6
30
1
1
holddepth Constant 1
1
2
2.6
15
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0.0925 0.032 -0.36 2.6 0 0 0 0 0 0 0 0 0 0 0 0 -0.0925 -0.032 0.36 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
DDSS
0 0 0 0 0 0 0 0 0 80 0 0 
END_DDSS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
10
END_REPETITIONS
