Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\190910_dual_color_axial.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\gigamoog_test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\dds_amp_test.mScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Exposure
0
0
Kinetic Series Mode
0
0
0
-25
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
980 1040 1
1000 1060 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
121 302
131 302
0 150
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
14
xbias Constant 1
1
0.08
0.115
12
1
1
ybias Constant 1
1
0.03
0.037
12
1
1
zbias Constant 1
1
-0.35
-0.15
12
1
1
mot Constant 1
1
0.4
1.5
15
1
1
loadtime Constant 1
1
50
100
15
1
1
time Constant 1
1
0
20000
7
1
1
power Constant 1
1
40
90
8
1
1
freq Constant 1
1
84
84.8
8
1
1
holddepth Constant 1
1
2
2.6
15
1
1
nloadtime Constant 1
1
25
100
10
1
1
greennarrowfreq Constant 1
1
83
83.3
15
1
1
greennarrowpower Constant 1
1
100
100
20
1
1
greenmot Constant 1
1
0.3
0.8
20
1
1
narrowpower Constant 1
1
8
0
1
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0.09657 0.034 -0.2745 2.6 0 0 0 0 0 0 0 0 0 0 0 0 -0.09657 -0.034 0.2745 0 0 0 0 0 0 0 0 0 0 0 1 
END_DACS
DDSS
70 50 80 100 80 100 80 100 83.7 100 80 100 80 100 80 100 83.1 100 80 100 0 0 0 0 
END_DDSS
CONFIGURATION_NOTES

























END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
10
END_REPETITIONS
