Version: 3.0
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\190910_dual_color_axial.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\gigamoog_test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers\test.ddsScript
27
xbias Singleton 0.08
ybias Singleton 0.025
zbias Singleton -0.4
mot Singleton 0.4
loadtime Singleton 50
time Singleton 5000
power From_Master 0.01
freq Singleton 81
holddepth Singleton 2
bluemotcoil Singleton 2.5
bluex Singleton 0.41
bluey Singleton 0.185
bluez Singleton 0.7
greenmotcoil Singleton 0.4
greenx Singleton 0.0925
greeny Singleton 0.032
greenz Singleton -0.36
blueloadtime Singleton 50
greenbroadloadtime Singleton 30
greennarrowloadtime Singleton 50
imagepower Singleton 0.8
imagefreq Singleton 82.71
lacfreq Singleton 82.6
lacpower Singleton 0.6
imagetime Singleton 75
coolfreq Singleton 82.7
coolpower Singleton 0.1


END CONFIGURATION NOTES
