Version: 2.12
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\180920_3p1_spect.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\to_813.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\to_813.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 0 
0.07500000298023 0.07500000298023 0.05000000074506 0.05000000074506 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
50 200 1
250 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
653 868
659 878
712 1000
748 955
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
14
tweezerpow_val Constant 1
1
-4
-1.2
6
1
1
imagetime Constant 1
1
2
6
6
1
1
filter_pow Constant 1
1
-0.4
0.01
5
1
1
fscan Constant 1
1
10
80
15
1
1
imagepow Constant 1
1
0.1
1
10
1
1
cooltime Constant 1
1
1
10
6
1
1
bx Constant 1
1
-0.276
-0.3
15
1
1
axpow Constant 1
1
0
20
25
1
1
tweez_spect_pow Constant 1
1
-2.7
0
1
1
1
tweez_imag_pow Constant 1
1
-1.37
0
1
1
1
specscan Variable 1
1
73.408
73.41
20
1
1
toggle Constant 1
1
-1
1
10
1
1
scan Constant 1
1
1
300
20
1
1
pow698 Constant 1
1
-0.5
0
1
1
1
END_VARIABLES
TTLS
0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 
1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.12 0 0 0 -0.5 -4 0 0.3 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
1
1
0
0
1
1
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
15
END_REPETITIONS
