Version: 2.12
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190130_ramsey.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190305_SB_cooling_images.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190305_SB_cooling_images.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 0 
0.03999999910593 0.03999999910593 0.01999999955297 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 151 1
376 475 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
777 973
808 973
712 1000
748 955
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
95 61
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
26
tweezerpow_val Constant 1
1
-8
-9
5
1
1
filter_pow Constant 1
1
-4
-0.05
15
1
1
specscan Constant 1
1
0.011581
0.01165
15
1
1
pow698 Constant 1
1
0.9
0
30
1
1
rmbx Constant 1
1
0.0158
0.018
8
1
1
rmby Constant 1
1
0.018
0.022
10
1
1
rmbz Constant 1
1
0.0062
0.008
10
1
1
radial_freq Constant 1
1
80
80.06
15
1
1
cool_pow Constant 1
1
10
50
20
1
1
tune461 Constant 1
1
-0.25
-0.35
5
1
1
probetime Variable 1
1
350
375
15
1
1
pulse1 Constant 1
1
14
20
1
1
1
pulse2 Constant 1
1
1
15
1
1
1
axial_freq Constant 1
1
80
80.05
14
1
1
axial_pow Constant 1
1
1
100
10
1
1
clock Constant 1
1
73.501
0
1
1
1
spec3p1 Constant 1
1
79.7
80.15
30
1
1
para_freq Constant 1
1
0.18
0.3
10
1
1
para_amp Constant 1
1
100
8
5
1
1
para_cycles Constant 1
1
5000
300
5
1
1
bx_scan Constant 1
1
0.525
0.6
8
1
1
bluetuneval Constant 1
1
-0.016
-0.01
15
1
1
radcool Constant 1
1
83.85
84.5
10
1
1
sbcool Constant 1
1
80.06
80.15
10
1
1
radpow Constant 1
1
90
100
10
1
1
by_scan Constant 1
1
0.67
0.7
3
0
1
END_VARIABLES
TTLS
0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 0 
1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.1 -0.25 0 0 0.9 -8 -0.016 0.3 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
1
0
0
0
0
0
0
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
15
END_REPETITIONS
