Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190910_dual_color_axial.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191101_32x32.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191105_big_array_fast_image.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191101_big_array.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.07800000160933 0.07800000160933 0.1199999973178 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
100 400 1
125 425 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
704 800
630 800
630 800
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
30
tweezer_pow Constant 1
1
3.9
0.15
10
1
1
filter_pow Constant 1
1
0.05
0.1
5
1
1
rmbx Constant 1
1
0.0142
0.0155
20
1
1
rmby Constant 1
1
0.0152
0.02
15
1
1
rmbz Constant 1
1
0.0067
0.008
10
1
1
tune461 Constant 1
1
-0.2
-0.3
1
1
1
spec3p1 Constant 1
1
79.85
80.15
40
1
1
bx_scan Constant 1
1
0.2
0.3
30
1
1
bluetuneval Constant 1
1
0.005
0.02
10
1
1
lactime Constant 1
1
25
200
5
1
1
imagpow Constant 1
1
0.14
0.25
15
1
1
bluetune_imag Constant 1
1
0
0.02
5
1
1
galvo_set Constant 1
1
-0.5
-3.5
10
1
1
lattice_pow Constant 1
1
-1
-0.4
1
1
1
axial_phase_set Constant 1
1
-0.6
0
12
1
1
ax_lattice_pow Constant 1
1
-2.5
0
5
1
1
xoff Constant 1
1
0
0.5
10
1
1
yoff Constant 1
1
2.5
4
10
1
1
c_3p1 Constant 1
1
79.992
80.05
10
1
1
f_rad Constant 1
1
0.09
0.2
20
1
1
f_rad2 Constant 1
1
0.09
0.2
10
1
1
f_ax Constant 1
1
0.09
0.2
10
1
1
f_rmot_narrow Constant 1
1
0.28
0.5
10
1
1
lattice_zero Constant 1
1
-0.008
0
1
1
1
ax_lattice_zero Constant 1
1
0.017
0
1
1
1
tweezer_zero Constant 1
1
0.016
0
1
1
1
f_ax_lat Constant 1
1
0.052
0.1
20
1
1
scan Constant 1
1
0.1
3
25
1
1
modfreq Constant 1
1
0.01
0.15
20
1
1
fscan Constant 1
1
0
0.2
15
1
1
END_VARIABLES
TTLS
0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 
1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.3 -0.2 -0.5 0.017 0 3.9 0.005 0.3 -0.6 0 1.7 0.62 -0.008 0 0 0 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
5000
END_REPETITIONS
