Version: 2.12
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\3p1_spect_new.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\3p1_spect_new.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\3p1_spect_new.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-80
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 0 
0.1500000059605 0.1500000059605 0.05000000074506 0.05000000074506 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
75 150 1
300 375 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
692 1086
702 1081
712 1000
748 955
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
12
tweezerpow_val Constant 1
1
-1.35
0
1
1
1
imagetime Constant 1
1
2
6
6
1
1
filter_pow Constant 1
1
0.01
0.1
15
1
1
fscan Constant 1
1
10
80
10
1
1
imagepow Constant 1
1
0.1
1
10
1
1
cooltime Constant 1
1
1
10
6
1
1
bx Constant 1
1
-0.3175
-0.3
15
1
1
axpow Constant 1
1
0
20
25
1
1
tweez_spect_pow Constant 1
1
-2.7
0
1
1
1
tweez_imag_pow Constant 1
1
-1.35
0
1
1
1
scan Constant 1
1
0.01
0.22
15
1
1
toggle Constant 1
1
79.926
80.004
25
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.4 0 0 0 -0.3 -1.35 0 0.3 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
