Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\210220_USETHESE\210321-singlesteps.awgScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\210220_USETHESE\220126_rearrangeFullSize.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\210220_USETHESE\200914-Startup.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\210220_USETHESE\210425-axlat_phase_calibration.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.07500000298023 0.07500000298023 0.2000000029802 0.01999999955297 
699 699 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
75 375 1
100 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
683 760
683 760
630 800
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
75
tweezer_pow Constant 1
1
-1.6
-0.5
5
1
1
filter_pow Constant 1
1
-0.035
0
1
1
1
rmbx Constant 1
1
0.005
0.01
15
1
1
rmby Constant 1
1
0.015
0.017
1
1
1
rmbz Constant 1
1
0.0238
0.025
15
1
1
tune461 Constant 1
1
-0.2
-0.25
50
1
1
spec3p1 Constant 1
1
79.87
80.13
50
1
1
bluetuneval Constant 1
1
0.25
0.55
1
1
1
imagpow Constant 1
1
0.11
0.15
15
1
1
bluetune_imag Constant 1
1
0.025
0.05
5
1
1
lattice_pow Constant 1
1
-5
-0.2
15
1
1
axial_phase_set Constant 1
1
0
10
15
1
1
ax_lattice_pow Constant 1
1
-5
-3
1
1
1
xoff Variable 1
1
-1.5
1.5
3
1
1
yoff Constant 1
1
0
1.5
50
1
1
c_3p1 Constant 1
1
80
80.05
1
1
1
f_rad Constant 1
1
0.085
0.15
15
1
1
f_rad2 Constant 1
1
0.106
0.115
3
1
1
f_rmot_narrow Constant 1
1
0.5
0.58
20
1
1
lattice_zero Constant 1
1
-0.031
0
1
1
1
ax_lattice_zero Constant 1
1
-0.008
0
1
1
1
tweezer_zero Constant 1
1
0.016
0
1
1
1
fcool Constant 1
1
0.12
0.15
30
1
1
faxcool Constant 1
1
0.05
0.2
20
1
1
f_3d Constant 1
1
0.12
0.02
10
1
1
swapmottime Constant 1
1
55
100
10
1
1
onlynegative Constant 1
1
-0.05
-0.05
15
1
1
holdtime_10 Constant 1
1
150
0.1
2
1
1
c_3p0 Constant 1
1
2.923581
0
50
1
1
spec3p0 Constant 1
1
-10
2
30
1
1
probetime Constant 1
1
0.1
1.5
1
1
1
ramseytime Constant 1
1
1
10
30
1
1
mirrorscany Constant 1
1
2.88
3
10
1
1
mirrorscanx Constant 1
1
1.65
3.6
12
1
1
pmodf Constant 1
1
0.055
0.055
30
1
1
f_sis Constant 1
1
1.25
2
10
1
1
dmbx Constant 1
1
0.405
0.5
20
1
1
dmby Constant 1
1
0.861
0.95
20
1
1
f_rad_3d Constant 1
1
0.106
0.12
20
1
1
f_ax_3d Constant 1
1
0.045
0
1
1
1
f_ax_3d_imag Constant 1
1
0.105
0.15
20
1
1
uvpow Constant 1
1
0.2
18
20
1
1
tunnel_pow_2d Constant 1
1
-0.05
-0.05
6
1
1
tunnel_pow_ax Constant 1
1
-0.035
-0.01
15
1
1
tunnel_time Constant 1
1
5
22
6
1
1
time Constant 1
1
0
100
100
1
1
ryd_freq Constant 1
1
180.91947309
184
20
1
1
uvtime Constant 1
1
0.01
75
15
1
1
xoff813 Constant 1
1
-2.12
2
15
1
1
yoff813 Constant 1
1
-12.2
-6
15
1
1
tweezer813_zero Constant 1
1
0.0046
0
1
1
1
tweezer813_pow Constant 1
1
-0.8
0
1
1
1
pitime Constant 1
1
1.9
4
30
1
1
pihalvestime Constant 1
1
0.707903951976
0.375
15
1
1
sigmaztime Constant 1
1
0.001
0.002
15
1
1
ryd_freq2 Constant 1
1
180.95
0
15
1
1
ramptime Constant 1
1
0.65
1.1
13
1
1
uvphi Constant 1
1
0
360
20
1
1
cuv Constant 1
1
180.9
183
15
1
1
t_ramptime Constant 1
1
80
200
10
1
1
f_rmot_narrow_ll Constant 1
1
0.6
0.8
30
1
1
f_rad_lac_ll Constant 1
1
0.05
0.1
10
1
1
f_ax_lac_ll Constant 1
1
0.065
0.12
20
1
1
lac461pow_ll Constant 1
1
0.05
0.15
25
1
1
rampsigma Constant 1
1
0.15
0
30
1
1
dmbz Constant 1
1
0.377
0.385
25
1
1
holdtime Constant 1
1
1
100
10
1
1
imagpowlat Constant 1
1
0.1
0.11
15
1
1
gate_detuning Constant 1
1
0.26
0.23
10
1
1
moverate Constant 1
1
250
511
10
1
1
amprate Constant 1
1
20000
80000
5
1
1
xcommon Constant 1
1
0
2
20
1
1
ycommon Constant 1
1
0
2
20
1
1
scan Constant 1
1
0.3
0.4
6
1
1
movedistance Constant 1
1
12
0
1
1
1
END_VARIABLES
TTLS
0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 
1 0 0 1 1 1 0 0 1 0 1 1 0 1 1 1 
0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 
0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 
END_TTLS
DACS
0 -0.8 0 0 0 0 0 0.85 0.11 -0.2 0.275 -5 0 -1.6 0.25 0.01 0 10 2.88 1.65 -5 1.5 5.5 2.7 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1
END_REPETITIONS
