Version: 3.0
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\blankawg.awgScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\rearrangeTestMCM.gmoogScript
126
xbias Singleton 0.0499
ybias Singleton 0.0186
zbias Singleton -0.117
power Singleton 30
freq Singleton 70.55
holddepth Singleton 0.3
time Singleton 0
holdcoolpower Singleton 6
holdcoolfreq Singleton 84.1
coolmodpower Singleton 40
sbcoolpower Singleton 100
precoolpower Singleton 5.5
loaddepth Singleton 6.9
precoolfreq Singleton 84.7
rb3power Singleton 27
rb4power Singleton 20
xbiasqb Singleton 0.3
rb1power Singleton 70
rb2power Singleton 100
rbtimecont Singleton 0.5
pumpcoolfreq Singleton 98.8416
qubitblowawayfreq Singleton 135.227
qubitblowawayamp Singleton 100
qubitblowawaytime Singleton 2.5
qubitpumpfreq Singleton 116
qubitpumptime Singleton 2
qubitpumpamp Singleton 100
pi2time Singleton 0.00034
pitime Singleton 0.00042
zpi2time Singleton 0.00035
xpi2time Singleton 0.00017
sbtime Singleton 0.09
xamp Singleton 75.1
zamp Singleton 90.5341
z2pitime Singleton 0.00134
xbiasload Singleton 2.35
specfreq Singleton 76.2
compmotcoil Singleton 0.3
comppower Singleton 0.15
compxbias Singleton 0.18
compybias Singleton 0.03
compzbias Singleton 0.06
bluezbias Singleton 0
xbiasimg Singleton 0.08
ybiassb Singleton -0.1
clockfreq Singleton 74.91
clocktime Singleton 119
ybiasscan Singleton 0.75994
xbiasscan Singleton 3
zbiasscan Singleton -0.1
zbiasimg Singleton -0.5
horpos Singleton 0.014
verpos Singleton -0.049
pumpfreq Singleton 129.66
pumppower Singleton 100
pumptime Singleton 0.5
blowawayfreq Singleton 114.636
blowawaypower Singleton 10
blowawaytime Singleton 5.02
rbtime Singleton 39
rb2time Singleton 39
rb3time Singleton 35
rb4time Singleton 20
rb1freq Singleton 99.96
clockamp Singleton 100
rb2freq Singleton 100.022
rbfreq Singleton 99.83
rb3freq Singleton 100.009
rb4freq Singleton -0.18907
aodxoff Singleton -0.164144
aodyoff Singleton 0.135783
ybiasload Singleton 1.35
clockampawg Singleton 1.5
depumpfreq Singleton 126
depumptime Singleton 50
clocktime2 Singleton 0
clockfreqpi Singleton 74.9
xclock Singleton -0.14
zclock From_Master -6.35812
yclocktest From_Master 3.39411
bluemotcoil Singleton 1.1
bluex Singleton 0.282458
bluey Singleton 0.281771
bluez Singleton 0.28375
greenmotcoil Singleton 0.2
blueloadtime Singleton 200
greenbroadloadtime Singleton 23
greennarrowloadtime Singleton 20
coolfreq Singleton 95.6629
coolpower Singleton 65
cooltime Singleton 2
greennarrowfreq Singleton 82.6
greennarrowpower Singleton 3.584
greennarrowpowerstart Singleton 5.568
bluefreq Singleton 110
bluepower Singleton 30
comploadtime Singleton 20
greenpower Singleton 75
greentime Singleton 4
greenfreq Singleton 71.08
loadtime Singleton 200
loadfreq Singleton 98.25
depth Singleton -1.98
axialcoolfreq Singleton 70.6145
axialcoolpower Singleton 50
slmpowerfactor Singleton 1.92
xmagic Singleton 2.45
ymagic Singleton 0.745
img_depth Singleton -7.62
overhead_depth Singleton -9.9
filter_depth Singleton -0.1
spec_depth Singleton -1.068
xzero Singleton 0.049142
yzero Singleton 0.0159294
zzero Singleton -0.133749
blowaway_depth Singleton -0.2
ramsey_depth Singleton -0.2
ramptime Singleton 2.1
yclock Singleton 0
loadpower Singleton 88.9
dds2_factor Singleton 1.00911
load_depth Singleton -3.5
waittime Singleton 40
zop Singleton 0.073478
yop Singleton -0.0363
axisrottime Singleton 3




END CONFIGURATION NOTES
