Version: 3.0
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\awg_test.awgScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\Yb4x4.gmoogScript
134
xbias Singleton 0.09706
ybias Singleton 0.03803
zbias Singleton -0.2863
power Singleton 30
loadtime Singleton 0
freq Singleton 91
holddepth Singleton 0.005
time Singleton 10
pumppower Singleton 100
holdcoolpower Singleton 6
holdcoolfreq Singleton 84.1
pumptime Singleton 0.1
blowawaypower Singleton 100
blowawaytime Singleton 10
coolmodfreq Singleton 44.4
coolmodpower Singleton 30
sbcoolpower Singleton 100
precoolpower Singleton 5.5
carrierfreq Singleton 99.7
loaddepth Singleton 6.9
precoolfreq Singleton 84.7
rb3power Singleton 27
rb4power Singleton 20
rb2time Singleton 300
xbiasqb Singleton 0.3
blowawayfreq Singleton 135.23
pumpfreq Singleton 122.4
rb1power Singleton 70
rb2power Singleton 40
rbtimecont Singleton 0.5
pumpcoolfreq Singleton 98.8416
rb3time Singleton 300
rb4time Singleton 500
rb2freq1 Singleton 99.8663
rb3freq1 Singleton 99.8982
rb4freq1 Singleton 99.7
qubitblowawayfreq Singleton 135.227
qubitblowawayamp Singleton 100
qubitblowawaytime Singleton 2.5
qubitpumpfreq Singleton 116
qubitpumptime Singleton 2
qubitpumpamp Singleton 100
fieldontime Singleton 10
fieldofftime Singleton 30
pi2time Singleton 0.00034
pitime Singleton 0.00042
zpi2time Singleton 0.00035
xpi2time Singleton 0.00017
sbtime Singleton 0.09
xamp Singleton 75.1
zamp Singleton 90.5341
z2pitime Singleton 0.00134
opcoolfreq Singleton 121.499
opcoolpower Singleton 50
rb2freq_pulsed Singleton 99.9148
rb3freq_pulsed Singleton 99.9066
zxtime Singleton 0.00135
xgaptime Singleton 0.001
tdetunepi Singleton 0.4031
xpi4time Singleton 0.00017
xbiasload Singleton 0.8
coolfreqfield Singleton 79.2
coolpowerfield Singleton 100
specfreq Singleton 93.42
laccoolfreq Singleton 92.5
laccoolpower Singleton 50
compmotcoil Singleton 0.6
comppower Singleton 2.749
compxbias Singleton 0.125
compybias Singleton 0.01571
compzbias Singleton 0.06203
bluezbias Singleton 0
xbiasimg Singleton 0.08
rbtime Singleton 250
rb1freq_cont Singleton 99.65
rb2freq_cont Singleton 99.9117
rb3freq_cont Singleton 99.9079
rb4freq_cont Singleton 99.8236
rb1power_spec Singleton 30
rb2power_spec Singleton 30
rb1freq_pulsed Singleton 99.911
ybiassb Singleton -0.1
rb4freq_pulsed Singleton 99.7936
rb4freq_cont2 Singleton 99.796
rb4power2 Singleton 10
rb4freq_pulsed_start Singleton 99.78
rb4freq_pulsed_end Singleton 99.81
rb2freq_pulsed_start Singleton 99.86
rb2freq_pulsed_end Singleton 99.95
rb3freq_pulsed_start Singleton 99.86
rb3freq_pulsed_end Singleton 99.94
lowvcooldetune Singleton -1.2
ramseypumptime Singleton 2
ramseypumpfreq Singleton 84.2808
ramseypumpamp Singleton 100
cooldetune Singleton 0
coolpowerdetune Singleton 0
lifetime_delay Singleton 0
rbcarrier Singleton 0
ztime Singleton 0
gmc Singleton 0.2
alignmentpower Singleton 0
clockfreq Singleton 78
clocktime Singleton 5
bluescan Singleton 0
bluemotcoil Singleton 1.1
bluex Singleton 0.3791
bluey Singleton 0.178
bluez Singleton 0.15
greenmotcoil Singleton 0.2
greenx Singleton 0.09626
greeny Singleton 0.03502
greenz Singleton -0.2979
blueloadtime Singleton 400
greenbroadloadtime Singleton 30
greennarrowloadtime Singleton 50
lacfreq Singleton 92.44
lacpower Singleton 76.5
coolfreq Singleton 84.5773
coolpower Singleton 5
lactime Singleton 30
cooltime Singleton 20
greennarrowfreq Singleton 82.6
greennarrowpower Singleton 5.459
greennarrowpowerstart Singleton 3.5
bluefreq Singleton 110
bluetime Singleton 70
bluepower Singleton 28
setpoint556 Singleton 2.65
comploadtime Singleton 20
rb1freq Singleton 99.8
ddswait Singleton 2000
ttlwait Singleton 0.1
dacwait Singleton 10







END CONFIGURATION NOTES
