Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\190910_dual_color_axial.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\Yb4x4.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\Yb_tweezers_2107\tweezer_171_qubit_fieldramp.mScript
END_SCRIPTS
CAMERA_SETTINGS
External Exposure
0
0
Kinetic Series Mode
0.1000000014901
0.1000000014901
1
-25
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.05000000074506 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
943 1083 1
946 1046 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
95 136
95 136
0 150
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
60
xbias Constant 1
1
0.099
0.11
15
1
1
ybias Constant 1
1
0.035
0.04
10
1
1
zbias Constant 1
1
-0.32
-0.26
10
1
1
power Constant 1
1
6
30
10
1
1
loadtime Constant 1
1
70
100
25
1
1
freq Constant 1
1
93.42
93.8
20
1
1
holddepth Constant 1
1
0.02
0.05
10
1
1
time Constant 1
1
0
5
25
1
1
pumppower Constant 1
1
100
100
20
1
1
holdcoolpower Constant 1
1
6.5
10
20
1
1
holdcoolfreq Constant 1
1
84.1
85.5
10
1
1
pumptime Constant 1
1
0.5
0.5
15
1
1
blowawaypower Constant 1
1
35
0
15
1
1
blowawaytime Constant 1
1
6.8
5
15
1
1
coolmodfreq Constant 1
1
44.4
0
1
1
1
coolmodpower Constant 1
1
30
0
1
1
1
sbcoolpower Constant 1
1
100
100
7
1
1
precoolpower Constant 1
1
7
12
7
1
1
carrierfreq Constant 1
1
99.7
99.8
12
1
1
loaddepth Constant 1
1
2.5
3.4
10
1
1
precoolfreq Constant 1
1
84.4
85.5
12
1
1
rb3power Constant 1
1
70
100
20
1
1
rb4power Constant 1
1
100
100
15
1
1
rb2time Constant 1
1
5
70
25
1
1
xbiasqb Constant 1
1
0.3
0
1
1
1
blowawayfreq Constant 1
1
135.611
135.8
20
1
1
pumpfreq Constant 1
1
122.258
124
25
1
1
rb1power Constant 1
1
40
100
20
1
1
rb2power Constant 1
1
60
100
20
1
1
rbtimecont Constant 1
1
0.5
0
1
1
1
pumpcoolfreq Constant 1
1
98.8416
0
1
1
1
rb3time Constant 1
1
5
30
20
1
1
rb4time Constant 1
1
20
0
1
1
1
rb2freq1 Constant 1
1
99.9004
100
25
1
1
rb3freq1 Constant 1
1
99.8989
100
20
1
1
rb4freq1 Constant 1
1
99.78
100
50
1
1
qubitblowawayfreq Constant 1
1
135.294
135.8
10
1
1
qubitblowawayamp Constant 1
1
35
0
1
1
1
qubitblowawaytime Constant 1
1
6.5
1500
12
1
1
qubitpumpfreq Constant 1
1
116
121
12
1
1
qubitpumptime Constant 1
1
5
0.1
8
1
1
qubitpumpamp Constant 1
1
100
0
1
1
1
fieldontime Constant 1
1
34
60
15
1
1
fieldofftime Constant 1
1
15
50
15
1
1
pi2time Constant 1
1
0.00034
0.0005
15
1
1
pitime Constant 1
1
0.00042
0.001
15
1
1
zpi2time Constant 1
1
0.00033
0.00038
9
1
1
xpi2time Constant 1
1
0.00017
0.0002
9
1
1
sbtime Constant 1
1
0
0.2
10
1
1
xamp Variable 1
1
89.7
90.6
12
1
1
zamp Constant 1
1
93.349
99
12
1
1
z2pitime Constant 1
1
0.00126
0.00131
12
1
1
opcoolfreq Constant 1
1
121.2
122.5
15
1
1
opcoolpower Constant 1
1
100
100
10
1
1
rb2time_pulsed Constant 1
1
0.1024968225985
0
1
1
1
rb2freq_pulsed Constant 1
1
99.9089862803
0
1
1
1
rb3freq_pulsed Constant 1
1
99.90275802543
0
1
1
1
rb3time_pulsed Constant 1
1
0.09052067492215
0
1
1
1
zxtime Constant 1
1
0.00125
0
1
1
1
xgaptime Constant 1
1
0.002
0.007
25
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
DDSS
100 100 100 100 100 100 100 100 93 100 121 100 110 100 100 100 83.7 100 80 100 42.6 100 80 100 
END_DDSS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
7
END_REPETITIONS
