Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190130_ramsey.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190805_lattice_spect.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190808_dipole.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190805_lattice_spect.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
1
0 0 0 0 
0.001000000047497 0.1000000014901 0.01999999955297 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 512 1
1 512 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
653 918
653 918
775 955
780 960
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
95 61
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
39
tweezerpow_val Constant 1
1
0
-0.8
10
1
1
filter_pow Constant 1
1
0
0.05
10
1
1
specscan Constant 1
1
-0.006396
-0.0063
30
1
1
pow698 Constant 1
1
0.899
0
1
1
1
rmbx Constant 1
1
0.0129
0.014
15
1
1
rmby Constant 1
1
0.0161
0.017
15
1
1
rmbz Constant 1
1
0.0074
0.009
20
1
1
radial_freq Constant 1
1
80
80.06
15
1
1
cool_pow Constant 1
1
10
50
1
1
1
tune461 Constant 1
1
-0.2
-1
3
1
1
probetime Constant 1
1
1
510
10
1
1
pulse1 Constant 1
1
15
60
10
1
1
pulse2 Constant 1
1
1
15
1
1
1
axial_freq Constant 1
1
79.8
79.9
1
1
1
axial_pow Constant 1
1
20
100
8
1
1
clock Constant 1
1
79.65
79.85
10
1
1
spec3p1 Constant 1
1
79.65
80
35
1
1
bx_scan Constant 1
1
0.525
0.55
1
1
1
bluetuneval Constant 1
1
0.017
0.025
5
1
1
radcool Constant 1
1
79.85
80
5
1
1
lactime Constant 1
1
50
100
10
1
1
radpow Constant 1
1
100
100
10
1
1
imagpow Constant 1
1
0.13
0.3
5
1
1
bluetune_imag Constant 1
1
0.02
0.03
10
1
1
lacpow Constant 1
1
5
100
1
1
1
lacfreq Constant 1
1
79.8
80.5
15
1
1
galvo_set Constant 1
1
-0.7
-3.5
10
1
1
radial2_coolfreq Constant 1
1
79.9
80
10
1
1
radial2_coolpow Constant 1
1
20
100
6
1
1
scan Constant 1
1
79.75
79.9
10
1
1
specpow Constant 1
1
1
100
10
1
1
lattice_pow Constant 1
1
-2.5
-0.05
5
1
1
axial_phase_set Constant 1
1
-0.1
0
1
1
1
modfreq Constant 1
1
0.01
0.1
21
1
1
modamp Constant 1
1
0
50
1
1
1
xscan Constant 1
1
0
3.3
10
1
1
ax_lattice_pow Constant 1
1
-2
0
1
1
1
tweezerx Constant 1
1
0
0
1
1
1
bz Constant 1
1
0
0.015
5
1
1
END_VARIABLES
TTLS
0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 
1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.3 -0.2 -0.7 0 0.899 -3.5 0.017 0.3 -0.1 0 1.6 2.5 0 0 0 0 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
5000
END_REPETITIONS
