Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190910_dual_color_axial.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191121_515.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191217_515_heatingmod.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\191217_515_heatingmod.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.07599999755621 0.07599999755621 0.1199999973178 0.01999999955297 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
75 375 1
100 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
660 800
660 800
630 800
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
35
tweezer_pow Constant 1
1
-3.5
2
10
1
1
filter_pow Constant 1
1
-0.02
4
8
1
1
rmbx Constant 1
1
0.0135
0.015
8
1
1
rmby Constant 1
1
0.0175
0.02
8
1
1
rmbz Constant 1
1
0.005
0.008
1
1
1
tune461 Constant 1
1
-0.2
-0.25
8
1
1
spec3p1 Constant 1
1
79.85
79.88
1
1
1
bx_scan Constant 1
1
0.2
0.3
30
1
1
bluetuneval Constant 1
1
0.02
0.03
8
1
1
imagpow Constant 1
1
0.09
0.15
10
1
1
bluetune_imag Constant 1
1
0
0.03
10
1
1
galvo_set Constant 1
1
-0.5
-3.5
1
1
1
lattice_pow Constant 1
1
-0.3
-0.4
1
1
1
axial_phase_set Variable 1
1
-1.5
0
15
1
1
ax_lattice_pow Constant 1
1
-2.9
0
1
1
1
xoff Constant 1
1
-0.3
1
10
1
1
yoff Constant 1
1
-3
2
10
1
1
c_3p1 Constant 1
1
79.994
80.1
15
1
1
f_rad Constant 1
1
0.097
0.11
50
1
1
f_rad2 Constant 1
1
0.104
0.115
3
1
1
f_rmot_narrow Constant 1
1
0.18
0.25
10
1
1
lattice_zero Constant 1
1
-0.008
0
1
1
1
ax_lattice_zero Constant 1
1
0.016
0
1
1
1
tweezer_zero Constant 1
1
0.0163
0
1
1
1
f_ax_lat Constant 1
1
0.095
0.11
6
1
1
modfreq Constant 1
1
0.05
0.11
3
1
1
fscan Constant 1
1
0.05
0.2
10
1
1
scan Constant 1
1
1.15
1.3
10
1
1
radpow Constant 1
1
16
25
10
1
1
rad2pow Constant 1
1
12
25
10
1
1
fcool Constant 1
1
0.1
0.2
10
1
1
axpow Constant 1
1
8
25
10
1
1
faxcool Constant 1
1
0.12
0.2
10
1
1
holdtime Constant 1
1
10
30000
2
1
1
mirrorscan Constant 1
1
1.05
1.4
5
1
1
END_VARIABLES
TTLS
0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 1 1 1 0 0 0 1 0 1 0 1 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0.09 -0.2 -0.5 0.016 0 -3.5 0.02 0.3 0 0 2.24 1.2 -0.3 0 0 0 
END_DACS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
20
END_REPETITIONS
