Version: 2.12
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\3p1_spect_new.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\3p1_spect_new.ddsScript
19
tweezerpow_val Singleton -1.35
imagetime Singleton 2
filter_pow Singleton 0
fscan Singleton 10
imagepow Singleton 0.1
cooltime Singleton 1
coolpow Singleton 5
axpow Singleton 0
tweez_spect_pow Singleton -0.135
tweez_imag_pow Singleton -0.675
scan Singleton 79.9
toggle Singleton 79.7
xcoilval Singleton 0.015
ycoilval Singleton 0.0135
zcoilval Singleton 0.0025
bluecoilx Singleton 0
bluecoily Singleton 0
bluecoilz Singleton -0.05
motcoils Singleton 4


END CONFIGURATION NOTES
