Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\After_rebuild\test.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\After_rebuild\test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\After_rebuild\DEFAULT_MASTER_SCRIPT.mScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\After_rebuild\test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0
0 0 0 0 
0 0.02500000037253 0.02500000037253 0.02500000037253 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 512 1
1 512 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
0 1000
0 1000
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
0
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
CONFIGURATION_NOTES
>>>Enter configuration-level notes here<<<

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
0
0
0
0
1
1
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
