Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\test.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\test.gmoogScript

C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\After_rebuild\190308_repeated.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
1
2 2 2 2 
0.02600000053644 0.02600000053644 0.02600000053644 0.02600000053644 
100 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
100 250 1
376 475 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
0
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
