Version: 3.0
C:\Users\alecj\Kaufman_Lab\chimera\Chimera-Control-Master\Configurations\Configurations\210220_USETHESE\210321-singlesteps.awgScript
C:\Users\alecj\Kaufman_Lab\chimera\Chimera-Control-Master\Configurations\Configurations\210220_USETHESE\220126_rearrangeFullSize.gmoogScript
C:\Users\alecj\Kaufman_Lab\chimera\Chimera-Control-Master\Configurations\Configurations\210220_USETHESE\210425-axlat_phase_calibration.ddsScript
55
tweezer_pow Singleton -1.8
filter_pow Singleton -0.01
spec3p1 Singleton 79.9
c_3p1 Singleton 80
faxcool Singleton 0.05
f_3d Singleton 0.12
onlynegative Singleton -0.05
holdtime_10 Singleton 150
c_3p0 Singleton 152.835
spec3p0 Singleton 66
probetime Singleton 4.86
ramseytime Singleton 1
pmodf Singleton 0.0485
f_sis Singleton 1.25
uvpow Singleton 0.2
tunnel_pow_2d Singleton -0.05
tunnel_pow_ax Singleton -0.035
tunnel_time Singleton 3
time Singleton 0
ryd_freq Singleton 180.6
uvtime Singleton 3000
tweezer813_zero Singleton 0.0046
tweezer813_pow Singleton -0.8
pitime Singleton 4.72312
pihalvestime Singleton 0.707904
sigmaztime Singleton 0.002875
ryd_freq2 Singleton 180.95
ramptime Singleton 0.65
uvphi Singleton 0
cuv Singleton 180.9
t_ramptime Singleton 80
rampsigma Singleton 0.15
holdtime Singleton 1
gate_detuning Singleton 0.26
xcommon Singleton 0
ycommon Singleton 0
scan Singleton 0.001
movedistance Singleton 12
imagpowscan Singleton 0.105
scan2d Singleton -3
scanax Singleton -6
axial_phase_set From_Master 0
ax_lattice_pow Singleton -1.5
xcoilval Singleton 0.018
ycoilval Singleton 0.021
zcoilval Singleton 0.0055
bluecoilx Singleton -0.1
bluecoily Singleton -0.025
bluecoilz Singleton 0.025
motcoils Singleton 4
carrier_3p1_cons Singleton 79.946
rsb Singleton 0.224
asb Singleton 0.04
carrier_3p0_cons Singleton 79.99
rsbi Singleton 0.086

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































END CONFIGURATION NOTES
