Version: 2.12
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\tmp.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\blue_red_tof.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 0 0 
6.726232628759e-44 0.02500000037253 0.02500000037253 0.02500000037253 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 512 1
1 512 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
0 1000
0 1000
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
1
coilscan Constant 1
1
0.1
0
1
0
1
END_VARIABLES
TTLS
1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
2.25 2.25 -0.5 -0.5 2.388 2.388 7 5.5 0 0 0 0 0 0.5 0.4 0.5 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
1
0
0
0
0
0
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
