Version: 2.12
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\tmp.moogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\tmp.nScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\single_shot_tweezer.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\MOT_load\DDS_ramp_test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 0 0 
0.05000000074506 0.02500000037253 0.02500000037253 0.02500000037253 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
150 250 1
250 350 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
670 750
0 1000
0 1000
0 1000
1 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
8
tweezerpow_val Constant 1
1
-2
0
1
1
1
imagetime Constant 1
1
2
6
6
1
1
filter_pow Constant 1
1
-0.05
-0.2
10
1
1
fscan Constant 1
1
-0.45
0.2
12
1
1
imagepow Constant 1
1
0.4
0.6
6
1
1
cooltime Constant 1
1
1
10
6
1
1
coolpow Constant 1
1
5
50
6
1
1
axpow Constant 1
1
0
20
25
1
1
END_VARIABLES
TTLS
1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
1.6 1.6 -0.6 -0.6 -0.6 -0.6 2 2 0.4 0 0 0 -0.3 -2 0.4 0.3 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
CONFIGURATION_NOTES
>>>Enter configuration-level notes here<<<

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
0
0
0
0
1
1
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
