Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\tweezerImage.mScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0.1000000014901
1
-25
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.05000000074506 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
994 1019 1
1010 1035 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
95 176
95 176
0 150
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
15
xbias Constant 1
1
0.09
0.11
10
1
1
ybias Constant 1
1
0.02
0.04
10
1
1
zbias Constant 1
1
-0.36
-0.2
10
1
1
mot Constant 1
1
0.4
1.5
15
1
1
loadtime Constant 1
1
20
100
15
1
1
frametime Constant 1
1
50
50
20
1
1
zbiasgreen Constant 1
1
0
0.2
10
1
1
greentime Constant 1
1
50
1000
1
1
1
loadtimenarrow Constant 1
1
50
10000
20
1
1
greenfreq Constant 1
1
83.2
83.6
15
1
1
greenamp Constant 1
1
0.2
1
15
1
1
greenamp2 Constant 1
1
0.1
0
1
1
1
time Variable 1
1
1
100
12
1
1
power Constant 1
1
0.05
1.25
20
1
1
freq Constant 1
1
82.8
83.5
20
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
1 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0.098 0.03 -0.34 0 0 0 0 0 0 0 0 0 0 0 0 0 -0.098 -0.03 0.34 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
DDSS
70 82 82 80 83.7 80 80 80 83.1 80 0 0 
END_DDSS
CONFIGURATION_NOTES
test config notes
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
0
0
0
0
1
1
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
40
END_REPETITIONS
