Version: 3.0
SCRIPTS
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.moogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.gmoogScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\greenMOT.mScript
C:\Users\klab\Documents\Chimera-Control-Master\Configurations\MOT_load\test.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0.1000000014901
1
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
1
0 0 0 0 
1.506672745726e-38 0.02500000037253 0.02500000037253 0.02500000037253 
200 200 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 512 1
1 512 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
889 987
0 1000
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
5
xbias Constant 1
1
0.08
0.14
0
1
1
ybias Constant 1
1
0.05
0.05
1
1
1
zbias Constant 1
1
0.25
0.3
0
1
1
mot Constant 1
1
0.4
0
12
1
1
loadtime Constant 1
1
2000
3000
25
1
1
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4 0.08 -0.25 -0.25 0 0 0 0 0 0 0 0 0 0 0 0 0 -0.08 0.25 0.25 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
DDSS
70 60 0 0 0 0 0 0 0 0 0 0 
END_DDSS
CONFIGURATION_NOTES
test config notes
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
0
0
0
0
1
1
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1
END_REPETITIONS
