Version: 3.0
SCRIPTS
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\230126_Gate\240105_clockmains\230808_nqubitgate.awgScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\230126_Gate\240105_clockmains\230510_Rydberg_6ghz.gmoogScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\230126_Gate\240105_clockmains\230926_measure_field_noise.mScript
C:\Users\KLab\Desktop\Chimera-Control-Master\Configurations\230126_Gate\240105_clockmains\220901_RydClock_LatImag.ddsScript
END_SCRIPTS
CAMERA_SETTINGS
External Trigger
1
300
Kinetic Series Mode
0
0
0
-60
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0
2
0 0 0 0 
0.1000000014901 0.1000000014901 0.3000000119209 0.01999999955297 
560 560 560 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
110 410 1
100 400 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
683 762
683 768
683 761
780 960
0 0 0 1 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
226 239
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
82
tweezer_pow Constant 1
1
-1.8
-1.2
5
1
0
filter_pow Constant 1
1
-0.01
0
1
1
0
spec3p1 Constant 1
1
79.8
80.2
1
1
0
c_3p1 Constant 1
1
80
80.1
1
1
0
faxcool Constant 1
1
0.1
0.2
20
1
0
f_3d Constant 1
1
0.12
0.02
10
1
0
onlynegative Constant 1
1
-0.05
-0.05
15
1
0
holdtime_10 Constant 1
1
0
0.1
1
1
0
spec3p0 Variable 1
1
13.75
14.75
25
1
0
probetime Constant 1
1
0.01
10
120
1
0
ramseytime Constant 1
1
0.01
25
20
1
0
pmodf Constant 1
1
0.0485
0.055
20
1
0
f_sis Constant 1
1
1.25
2
1
1
0
uvpow Constant 1
1
0.64
0.68
5
1
0
tunnel_pow_2d Constant 1
1
0.065
-0.05
6
1
0
tunnel_pow_ax Constant 1
1
-0.035
-0.01
15
1
0
tunnel_time Constant 1
1
3
22
6
1
0
time Constant 1
1
0.228
100
1
1
0
ryd_freq Constant 1
1
231.3
237
1
1
0
tweezer813_zero Constant 1
1
0.0046
0
1
1
0
tweezer813_pow Constant 1
1
-0.8
0
25
1
0
pitime Constant 1
1
1.98424
2.5
20
1
0
ramptime Constant 1
1
0.225
0.225
6
1
0
uvphi Constant 1
1
0
360
20
1
0
cuv Constant 1
1
175
185
25
1
0
t_ramptime Constant 1
1
80
200
10
1
0
rampsigma Constant 1
1
0.15
0
30
1
0
holdtime Constant 1
1
0.1
1000
12
1
0
xcommon Constant 1
1
0
2
20
1
0
ycommon Constant 1
1
1
50
5
1
0
scan Constant 1
1
6.323103448275862
16.323103448275862
1
1
0
movedistance Constant 1
1
12
0
1
1
0
imagpowscan Constant 1
1
0.15
0.26
6
1
0
scan2d Constant 1
1
-3
-1
5
1
0
scanax Constant 1
1
-1
-0.1
5
1
0
awgamp Constant 1
1
70
85
1
1
0
p0 Constant 1
1
0
720
1
1
0
uvtime Constant 1
1
1.080729
0.8
1
1
0
pscan Constant 1
1
0
180
20
1
0
p01 Constant 1
1
348.5
360
1
1
0
pscan1 Constant 1
1
240
360
18
1
0
spec3p01 Constant 1
1
-80
0
30
1
0
rigol_phase Constant 1
1
0.395
0.5
30
1
0
rigol_ref Constant 1
1
-0.5
0
1
1
0
tweezer_pow_clock Constant 1
1
-0.86
0
1
1
0
ini_detuning Constant 1
1
11
0
30
1
0
gate_detuning Constant 1
1
0
0
1
1
0
delay Constant 1
1
0.25
5
8
1
0
phasejump Constant 1
1
0
180
9
1
0
detuning Constant 1
1
0.436
0.47
1
1
0
piquarterstime Constant 1
1
0.45455
0.54
30
1
0
filtertime Constant 1
1
20
100
8
1
0
filterramptime Constant 1
1
3
1
4
1
0
shift_3p1 Constant 1
1
70
0
1
1
0
phase_offset_awg Constant 1
1
120
0
1
1
0
a Constant 1
1
40.39
44
7
1
0
omega Constant 1
1
26.149767
27
7
1
0
phi0 Constant 1
1
-0.7318
-0.85
8
1
0
delta0 Constant 1
1
0
15
12
1
0
time407 Constant 1
1
1
1
10
1
0
uv407delay Constant 1
1
-0.35
0
1
1
0
shutdelay Constant 1
1
4.2
0
1
1
0
awgblinkdelay Constant 1
1
0.15
0
1
1
0
cheb1 Constant 1
1
1.38443525
0
1
1
0
cheb3 Constant 1
1
1.23022245
0
1
1
0
cheb5 Constant 1
1
-0.33083662
0
1
1
0
cheb7 Constant 1
1
-0.25319242
0
1
1
0
cheb9 Constant 1
1
0.29792418
0
1
1
0
cheb11 Constant 1
1
-0.094246
0
1
1
0
cheb13 Constant 1
1
-0.0133557
0
1
1
0
cheb15 Constant 1
1
-0.11958217
0
1
1
0
cheb17 Constant 1
1
0.07655352
0
1
1
0
cheb19 Constant 1
1
-0.06492399
0
1
1
0
bz Constant 1
1
1
0
1
1
0
dmbz_bigz Constant 1
1
0.408
0.41
10
1
0
dummy Constant 1
1
1
8
8
1
0
fcool Constant 1
1
0.056
0
1
1
0
lightshift Constant 1
1
0.0952
0
1
1
0
pihalvestime Constant 1
1
0.92
1
1
1
0
ryd_det Constant 1
1
-0.0136
1
25
1
0
toggle Constant 1
1
0
1
2
1
0
pscan2 Constant 1
1
113
360
20
1
0
END_VARIABLES
TTLS
0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 
1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 1 
1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 
0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 
END_TTLS
DACS
0 0.0046 0 0 0 0 0 0.64 0.245 -0.2 0.4 2.25 0 -1.8 0.075 0.01 5 5 2.83 0.8 1.85 1.5 -2.05 2.45 
END_DACS
CONFIGURATION_NOTES













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
0
1
0
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
3
END_REPETITIONS
